<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiquan.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="com.qiquan.model.Stock">
    <id column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="symbol_name" jdbcType="VARCHAR" property="symbolName" />
    <result column="insure_date" jdbcType="VARCHAR" property="insureDate" />
    <result column="option_type" jdbcType="VARCHAR" property="optionType" />
    <result column="price_mode" jdbcType="VARCHAR" property="priceMode" />
    <result column="offer_price_date" jdbcType="VARCHAR" property="offerPriceDate" />
    <result column="symbol_prefix" jdbcType="VARCHAR" property="symbolPrefix" />
    <result column="option_code" jdbcType="VARCHAR" property="optionCode" />
    <result column="cycle" jdbcType="VARCHAR" property="cycle" />
    <result column="offer_price" jdbcType="VARCHAR" property="offerPrice" />
    <result column="expire_date" jdbcType="VARCHAR" property="expireDate" />
    <result column="exercise_mode" jdbcType="VARCHAR" property="exerciseMode" />
  </resultMap>
  <sql id="Base_Column_List">
    symbol, symbol_name, insure_date, option_type, price_mode, offer_price_date, symbol_prefix, 
    option_code, cycle, offer_price, expire_date, exercise_mode
  </sql>

  <!-- 获取所有股票代码 -->
  <select id="selectAllStock" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_stock
  </select>
</mapper>